<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>TodoController</servlet-name>
        <servlet-class>com.todoapp.controller.TodoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TodoController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>